<h2>Список статей</h2>

<% @articles.each do |article| %>
  <h3><%= article.title %></h3>
  <p><%= article.text %></p>
  <p>
    <%= link_to  "Показать статью", article_path(article) %> |
    <%= link_to  "Редактировать статью", edit_article_path(article) %> |
    <%= link_to "Удалить", article_path(article), method: :delete, data: { confirm: 'Действительно удалить?'} %>
  </p>
  <hr>
  <% end %>





