<h2>таблица Списка клиентов</h2>


  <% @clients.each do |client| %>

  <table class="table table-bordered border-primary">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Автор---</th>
      <th scope="col">Название ---- статьи</th>
    </tr>
    </thead>

    <tbody class="table-group-divider" class="align-top">
    <tr>
      <th scope="row">1</th>
      <td><p><%= client.number_auto %></p></td>
      <td><p><%= client.brand_auto %></p></td>
    </tr>
  </table>

      <p>
        <%= link_to  "Показать статью", client_path(client) %> |
        <%= link_to  "Редактировать статью", edit_client_path(client) %> |
        <%= button_to "Удалить", client_path(client), method: :delete, data: { confirm: 'Действительно удалить?'} %>
      </p>

  <% end %>







