<h3>таблица Списка клиентов</h3>

<%= form_tag clients_path, :method => 'get' do %>
  <p> Введите номер автомобиля для поиска</p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск" %>
  <% end %><br />


  <% @clients.each do |client| %>

  <table class="table table-bordered border-primary">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Гос Номе а/м</th>
      <th scope="col">Бренд а/м</th>
      <th scope="col">Модель а/м</th>
      <th scope="col">Пробег в км</th>
      <th scope="col">Тип эбу версия софта</th>
      <th scope="col">Номер телефона</th>
      <th scope="col">Жалоба клиента</th>
    </tr>
    </thead>

    <tbody class="table-group-divider" class="align-top">
    <tr>
      <th scope="row">1</th>
      <td><p class="text-danger"><%= client.number_auto %></p></td>
      <td><p class="text-success"><%= client.brand_auto %></p></td>
      <td><p class="text-success"><%= client.model_auto %></p></td>
      <td><p class="text-success"><%= client.km %></p></td>
      <td><p class="text-success"><%= client.swid %></p></td>
      <td><p class="text-success"><%= client.phone %></p></td>
      <td><p class="text-success"><%= client.problem_user %></p></td>
    </tr>
  </table>

      <p>
        <%= link_to  "Показать клиента", client_path(client) %> |
        <%= link_to  "Редактировать данные клиента", edit_client_path(client) %> |
        <%= button_to "Удалить запись клиента", client_path(client), method: :delete, data: { confirm: 'Действительно удалить?'} %>
      </p>

  <% end %>







