<%= form_for :client, data: { turbo: false }, url: clients_path do |f| %>


  <div class="hstack gap-3">

    <div class="bg-light border ms-auto"><%= f.label :number_auto %><br><%= f.text_field :number_auto %></div>

    <div class="bg-light border ms-auto"><%= f.label :brand_auto %><br><%= f.select :brand_auto, ["AUDI", "ACURA", "BMW", "BYD", "CHEVROLET", "CHERY", "CITROEN", "CHANGAN", "CHRYSLER", "DAEWOO", "DODGE", "DAIHATSU", "DATSUN", "DONGFENG", "FORD", "FIAT", "FAW", "FOTON", "INFINITI", "ISUZU", "JAC", "GEELY", "GENESIS", "GREATWALL", "GAC", "HAVAL", "HONDA", "HYUNDAI", "HAIMA", "KIA", "LEXUS", "LIFAN", "MAZDA", "MINI", "MITSUBISHI", "MERCEDESBENZ",  "NISSAN", "OPEL", "PEUGEOT", "RAVON", "RENAULT", "ROVER", "SEAT", "SKODA",  "SSANGYONG", "SUZUKI", "SUBARU", "SMART", "TOYOTA", "VOLKSWAGEN", "VOLVO", "UAZ", "VAZ", "ZAZ", "GAZ"] %></div>

    <div class="bg-light border ms-auto"><%= f.label :model_auto %><br><%= f.text_field :model_auto %></div>

    <div class="bg-light border ms-auto"><%= f.label :km%><br><%= f.text_field :km %></div>

    <div class="bg-light border ms-auto"><%= f.label :vin%><br><%= f.text_field :vin %></div>

  </div>

    <div class="hstack gap-3">

      <div class="bg-light border ms-auto"><%= f.label :deffect%><br><%= f.text_area :deffect, size: "60x10" %></div>

      <div class="bg-light border ms-auto"><%= f.label :swid%><br><%= f.text_field :swid %></div>

      <div class="bg-light border ms-auto"><%= f.telephone_field :phone%><br><%= f.text_field :phone %></div>

    </div>



  <p>
    <%= f.label :price%>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :date%>
    <%= f.datetime_local_field :date %>
  </p>

  <p>
    <%= f.submit%>
  </p>

  <% end %>
