<h4>Бренд для которого вы будете добавлять модель а/м</h4>
<body class="Secondary" >

<h2>
  <p class="text-success" ><%= @brand.name %></p>
</h2>

<p class="text-grey"> Уже записаны следующие модели для Бренда <%= @brand.name %></p>

<% @brand.models.each do |model| %>
<p>
  <i class="text-danger"><%= model.name %></i><br />
</p>
<% end %>

<h4>Добавьте для этого бренда модель а/м принадлежащую бренду</h4>
<p>
  <%= form_for([@brand, @brand.models.build]) do |f| %>

  <p class="text-danger" ><%= f.label :name, 'Модель а/м (Марка)' %><br />
  <p class="text-success" ><%= f.text_field :name %><br />
</p>

  <p>
    <%= f.submit 'Сохранить' %>
  </p>
</body>

<% end %>